<header>
  <img src="" alt="HomeImage - Photo of me taking a photo" />
  <div class="navbar-fixed">
    <nav class="nav-wrapper transparent">
      <a href="#!" class="brand-logo center"
        ><img src="" alt="logo" class="logo center" />
        <span class="BrandName hide-on-med-and-down">Digitized</span>
      </a>

      <a
        href="#"
        data-target="mobileNav"
        class="sidenav-trigger"
        (click)="sideNav()"
      >
        <i class="material-icons">menu</i>
      </a>

      <ul class="left hide-on-med-and-down">
        <li><a class="navOption">Photography</a></li>
        <li><a class="navOption">Digital Art</a></li>
        <li><a class="navOption">B-roll & Timelapse</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a class="navOption">Login</a></li>
        <li><a class="navOption">Register</a></li>
      </ul>
    </nav>
  </div>

  <ul class="sidenav" id="mobileNav">
    <li><a class="navOption">Photography</a></li>
    <li><a class="navOption">Digital Art</a></li>
    <li><a class="navOption">B-roll & Timelapse</a></li>
    <li><a class="navOption">Login</a></li>
    <li><a class="navOption">Register</a></li>
  </ul>
</header>
