.brandName {
  color: var(--ligthTheme);
}

.navOption {
  color: var(--filfthyYellow);
  font-family: var(--headerFont);
}

.navOption:hover {
  background-color: var(--darkTheme1);
}

.logo {
  margin-top: 2px;
}

.trim {
  max-height: 750px;
  overflow: hidden;
}

nav {
  background-color: var(--darkTheme2);
  box-shadow: 0px 3px 7px var(--darkTheme1);
}

app-side-nav {
  max-width: 150px !important;
}
