.BrandName {
  color: var(--ligthTheme);
}

.navOption {
  color: var(--filfthyYellow);
  font-family: var(--headerFont);
}

.navOption:hover {
  background-color: var(--darkTheme1);
}

.logo {
  margin-top: 5px;
  width: 60px;
}

header {
  background-color: var(--darkTheme2);
  margin-bottom: 3vw;
}
