.BrandName {
  color: var(--ligthTheme);
}

.navOption {
  color: var(--filfthyYellow);
  font-family: var(--headerFont);
}

.navOption:hover {
  background-color: var(--darkTheme1);
}

.logo {
  margin-top: 5px;
  width: 60px;
}

header {
  /*background-color: var(--darkTheme2);*/
  background-image: url(../../assets/images/DSC_5087c.jpg);
  background-size: cover;
  background-position: center;
  height: 750px;
}

.test {
  width: 100%;
}

.trim {
  max-height: 750px;
  overflow: hidden;
}
