<header>
  <!-- <img id="headerImg" src="../../assets/images/IMG_9157c.jpg" /> -->
  <div class="navbar-fixed">
    <nav class="nav-wrapper">
      <a href="#!" class="brand-logo center  hide-on-small-only">
        <span class="brandName hide-on-med-and-down">Digitized</span>
      </a>

      <!-- <a href="#" class="sidenav-trigger" (click)="sideNav()">
        <i class="material-icons">menu</i>
      </a> -->

      <app-side-nav
        data-cy="sideNavComponent"
        class="hide-on-med-and-up"
      ></app-side-nav>

      <ul class="left hide-on-small-only">
        <li>
          <a class="navOption" [routerLink]="['grid/images']">Photography</a>
        </li>
        <!-- <li><a class="navOption">Digital Art</a></li> -->
        <li>
          <a class="navOption" [routerLink]="['carousel/videos']"
            >B-roll & Timelapse</a
          >
        </li>
        <li>
          <a class="navOption" [routerLink]="['contact/mail']">Contact</a>
        </li>
      </ul>

      <span
        *ngIf="user$ | async as user; else logreg"
        class="hide-on-small-only right showUsr"
        >{{ user }}
        <button (click)="logout()" mat-raised-button class="logout">
          Logout
        </button></span
      >
      <ng-template #logreg>
        <ul class="right hide-on-small-only">
          <li><a class="navOption" (click)="openDialogLogin()">Login</a></li>
          <li>
            <a class="navOption" (click)="openDialogRegister()">Register</a>
          </li>
        </ul>
      </ng-template>
    </nav>
  </div>
</header>
<ng-content></ng-content>
