.page-footer {
  background-color: var(--darkTheme2);
  color: var(--ligthTheme);
  font-family: var(--headerFont);
}

.digitizedFont {
  font-family: var(--digitizedFont);
}

a {
  margin: 0 1%;
  background-color: var(--darkTheme1);
  color: var(--ligthTheme);
}

a:focus {
  background-color: var(--darkTheme1);
}

a:hover {
  background-color: var(--neonGreen);
}

footer {
  box-shadow: 0px -3px 7px var(--darkTheme1);
}
