<footer class="page-footer">
  <div class="container center social">
    <h6 class="center">Social Media</h6>

    <a
      class="btn-floating btn-small waves-circle waves-light center"
      href="https://www.instagram.com/d_igitized/"
      target="_blank"
    >
      <fa name="instagram"></fa>
    </a>
    <a
      class="btn-floating btn-small waves-circle waves-light center"
      href="https://www.facebook.com/MoutPessemierPhotography/"
      target="_blank"
    >
      <fa name="facebook-f"></fa>
    </a>
    <a
      class="btn-floating btn-small waves-circle waves-light center"
      href="https://www.youtube.com/user/TheSpookyCommando"
      target="_blank"
    >
      <fa name="youtube"></fa>
    </a>
    <a
      class="btn-floating btn-small waves-circle waves-light center"
      href="https://twitter.com/MoutPessemier"
      target="_blank"
    >
      <fa name="twitter"></fa>
    </a>
    <a
      class="btn-floating btn-small waves-circle waves-light center"
      href="https://www.linkedin.com/in/mout-pessemier-9954a9163/"
      target="_blank"
    >
      <fa name="linkedin"></fa>
    </a>
  </div>
  <div class="footer-copyright">
    <div class="container center">&copy; 2019 Mout Pessemier | Digitized</div>
  </div>
</footer>
