<div class="container">
  <div class="card">
    <div class="card-image">
      <img class="activator" src={{content}}>
      <span class="card-title">{{country}}</span>
      <a class="btn-floating halfway-fab waves-effect waves-light" (click)="like()"><i
          class="material-icons red-text">{{icon}}</i></a>
    </div>
    <div class="card-content">
      <p class="content right">{{likes}}</p>
    </div>
    <div class="card-reveal">
      <span class="card-title ">{{country}}<i class="material-icons right">close</i></span>
      <h3>Specifications</h3>
      <p>ISO: {{iso}}</p>
      <p>Shutter Speed: {{shutterspeed}}</p>
      <p>Aperture: {{aperture}}</p>
    </div>
  </div>
</div>
