<div class="container">
  <form [formGroup]="contact" (ngSubmit)='onSubmit()'>
    <mat-form-field>
      <mat-select placeholder="topic" aria-label="topic" formControlName="topic">
        <mat-option *ngFor="let topic of contactTypes" [value]="topic">
          {{ topic }}
        </mat-option>
      </mat-select>
      <mat-error>
        {{ getErrorMessage(contact.get('topic')['errors']) }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Message</mat-label>
      <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="5" class="browser-default" formControlName="message" aria-label="Message"></textarea>
      <mat-error>
        {{ getErrorMessage(contact.get('message')['errors']) }}
      </mat-error>
    </mat-form-field>
    <button class="right" type="submit" mat-raised-button [disabled]='!contact.valid'>
      Send <mat-icon>send</mat-icon>
    </button>
  </form>
</div>
