<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-nav-list>
      <a mat-list-item [routerLink]="['grid/images']">Photography</a>
      <a mat-list-item [routerLink]="['carousel/videos']">B-roll & Timelapse</a>
      <a mat-list-item [routerLink]="['contact/mail']">Contact</a>
      <span
        *ngIf="loggedInUser$ | async as user; else logreg"
        class="hide-on-small-only"
        >{{ user }}
        <button (click)="logout()" mat-flat-button>
          logout
        </button></span
      >
      <ng-template #logreg>
        <ul class="right hide-on-med-and-up">
          <li><a class="navOption" (click)="openDialogLogin()">Login</a></li>
          <li>
            <a class="navOption" (click)="openDialogRegister()">Register</a>
          </li>
        </ul>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>

  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon></button
  ><span class="brandName">Digitized</span>
</mat-sidenav-container>
