<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-nav-list>
      <a mat-list-item [routerLink]="['grid/images']">Photography</a>
      <a mat-list-item [routerLink]="['carousel/videos']">B-roll & Timelapse</a>
      <a mat-list-item [routerLink]="['contact/mail']">Contact</a>
      <a mat-list-item (click)="openDialogLogin()">Login</a>
      <a mat-list-item (click)="openDialogRegister()">Register</a>
    </mat-nav-list>
  </mat-sidenav>

  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon></button
  ><span class="brandName">Digitized</span>
</mat-sidenav-container>
