button {
  color: var(--darkTheme1);
  background-color: var(--filfthyYellow);
  margin-left: 5%;
}
.brandName {
  color: var(--ligthTheme);
  font-size: 40px;
  font-family: var(--headerFont);
  margin-left: 5%;
  display: inline-block;
  vertical-align: middle;
}
