.fab {
  color: var(--darkTheme1);
  background-color: var(--filfthyYellow);
  margin-left: 5%;
}
.brandName {
  color: var(--ligthTheme);
  font-size: 40px;
  font-family: var(--headerFont);
  margin-left: 5%;
  display: inline-block;
  vertical-align: middle;
}

.loggedInMail {
  margin-left: 5%;
  font-size: 15px;
  font-family: var(--headerFont);
}

.logoutBtn {
  background-color: var(--darkTheme1);
  color: var(--filfthyYellow);
  margin-left: 5%;
  font-family: var(--headerFont);
}

a {
  font-family: var(--headerFont);
}
