.container {
  padding: 5% 0 12% 0;
  display: flex;
  justify-content: center;
}

button {
  margin-top: 1%;
  background-color: var(--darkTheme1);
  color: var(--swampGreen);
  width: 300px;
}

mat-form-field {
  color: var(--swampGreen);
  display: block;
}

mat-option {
  color: var(--lightBlue);
}

mat-select {
  color: var(--darkTheme1) !important;
  width: 300px;
  display: block;
}

textarea {
  height: 90px;
  width: 300px;
  display: block;
  color: var(--darkTheme1) !important;
}

form {
  text-align: center;
}

h3 {
  text-align: center;
}

@media screen and (max-width: 600px) {
  button {
    margin-bottom: 18%;
  }
  .container {
    margin-bottom: 25%;
  }
}
