<!-- <mat-dialog-container> -->
<h3 mat-dialog-title>Login</h3>
<div mat-dialog-content>
  <form [formGroup]="login" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        aria-label="login"
        placeholder="Email"
        type="text"
        formControlName="username"
        class="browser-default"
        required
      />
      <mat-error *ngIf="login.get('username')['errors'] && login.get('username').touched">
        {{ getErrorMessage(login.get('username')['errors']) }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        aria-label="password"
        placeholder="Password"
        type="password"
        formControlName="password"
        class="browser-default"
        required
      />
      <mat-error *ngIf="login.get('password')['errors'] && login.get('password').touched">
        {{ getErrorMessage(login.get('password')['errors']) }}
      </mat-error>
    </mat-form-field>
    <div class="buttonDiv">
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button type="submit" [disabled]="!login.valid">Login</button>
    </div>
  </form>
</div>
