h3 {
  font-family: var(--headerFont);
}

mat-form-field {
  width: 250px;
}

button[type="submit"],
button[type="submit"]:hover,
button[type="submit"]:active {
  margin-left: 100px;
  background-color: var(--neonGreen);
}

button {
  background-color: var(--filfthyOrange);
}

input {
  color: var(--ligthTheme)
}

.buttonDiv {
  margin-top: 5%;
}
