<div class="body">
  <h3>Photography</h3>
  <div *ngIf="(images$ | async) as images">
    <mat-grid-list [cols]="breakpoint" gutterSize=" 5px" [rowHeight]="rowH" (window:resize)="onResize($event)">
      <mat-grid-tile *ngFor="let image of images">
        <app-image [image]="image" data-cy="imageComponent"></app-image>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<ng-template #loadingOrError>
  <mat-card>
    <mat-error *ngIf="(loadingError$ | async) as errorMessage; else loading">
      Error loading the image grid: {{ errorMessage }}. <br />Please try again
      later.
    </mat-error>
    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
  </mat-card>
</ng-template>
