mat-form-field {
  margin: 2vw 1vw;
  padding: 0;
}

input {
  color: var(--ligthTheme);
  border: none !important;
  margin: 0 !important;
  padding: 0;
}

input:focus {
  border: none !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0;
}

h3 {
  color: var(--darkGreen);
  font-family: var(--headerFont);
  font-size: 300%;
  text-align: center;
  margin-top: 0;
  padding-top: 3%;
}

ng-template {
  text-align: center;
}

.imageComponent {
  margin-bottom: 10%;
}
