.btn-floating {
  background-color: var(--filfthyYellow);
  vertical-align: middle;
}

.navigator {
  padding-top: 25%;
}

.material-icons {
  color: var(--darkGreen);
}

h3 {
  color: var(--darkGreen);
  font-family: var(--headerFont);
  font-size: 300%;
  text-align: center;
}

.vidDiv {
  margin: 7% 0;
}
.videoControls {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}

.controls {
  padding: 0 15%;
  background-color: var(--darkTheme2);
}
