.btn-floating {
  background-color: var(--filfthyYellow);
  vertical-align: middle;
}

.navigator {
  padding-top: 25%;
}

.material-icons {
  color: var(--darkTheme2);
}

.container {
  display: flex;
  justify-content: space-between;
}

app-video {
  width: 85%;
  padding-bottom: 2vw;
}


h3 {
  color: var(--darkGreen);
  font-family: var(--headerFont);
  font-size: 300%;
  text-align: center;
}
