<div class="body">
  <h3>B-roll & Timelapse</h3>
  <div class="container">
    <div class="left navigator" (click)="previous()">
      <a class="btn-floating btn-small waves-circle waves-light"><i class="material-icons">keyboard_arrow_left</i></a>
    </div>
    <app-video [video]="currentVid"></app-video>
    <div class="right navigator" (click)="next()">
      <a class="btn-floating btn-small waves-circle waves-light"><i class="material-icons">keyboard_arrow_right</i></a>
    </div>
  </div>
</div>
