.header {
  font-family: var(--headerFont);
  margin: 0;
  padding: 2vw 1vw;
}

#photography,
#digitalArt {
  background-color: var(--darkTheme1);
  margin: 0;
}

#cinematography,
#contact {
  background-color: var(--ligthTheme);
  margin: 0;
}

.one {
  color: var(--filfthyOrange);
}

.two {
  color: var(--darkGreen);
}

.three {
  color: var(--swampGreen);
}

.four {
  color: var(--darkPurple);
}

app-grid {
  padding-bottom: 20px;
}
