<app-header></app-header>
<div id="photography">
  <h3 class="header one">Photography</h3>
  <app-grid></app-grid>
</div>
<!--parallax-->
<img appParallax [ratio]="0.5" src="" alt="">
<div id="cinematography">
  <h3 class="header two">B-roll & Timelapse</h3>
  <app-carousel></app-carousel>
</div>
<!--parallax-->
<img appParallax [ratio]="0.5" src="" alt="">
<div id="digitalArt">
  <h3 class="header three">Digital Art</h3>
</div>
<!--parallax-->
<img appParallax [ratio]="0.5" src="" alt="">
<div id="contact">
  <h3 class="header four">Contact</h3>
  <app-contact-form></app-contact-form>
</div>
<app-footer></app-footer>
