.btn-floating {
  background-color: var(--darkTheme2);
}

.card-title {
  font-family: var(--headerFont);
  display: inline !important;
}

.content {
  font-family: var(--bodyFont);
}

.card-content {
  height: 250px;
}

.routerlink {
  text-decoration: none;
  color: var(--darkTheme2);
}

.iconDiv {
  display: inline-block;
}

.active {
  color: var(--neonGreen);
}

.icon {
  cursor: pointer;
}
