<div class="container">
  <div class="card">
    <div class="card-image">
      <!-- <img class="activator" [src]="image.path" /> -->
      <app-comment></app-comment>
    </div>
    <div class="card-content">
      <span class="card-title">{{ image.country }}</span>
      <div class="iconDiv right">
        <a class="routerlink " [routerLink]="">
          <mat-icon>image</mat-icon>
        </a>
        <a class="routerlink" [routerLink]="">
          <mat-icon>list_alt</mat-icon>
        </a>
        <a class="routerlink active" [routerLink]="">
          <mat-icon>chat</mat-icon>
        </a>
      </div>
      <span class="content">
        <!-- via subrouting het ene of het andere erin zetten -->
        <!-- <div *ngFor="let comment of image.comments">
          <app-comment [comment]="comment"></app-comment>
        </div> -->
      </span>
    </div>
  </div>
</div>
