<!-- <form>
  <mat-form-field>
    <input matInput class="browser-default" aria-label="First name">
    <mat-error>
      {{ getErrorMessage() }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput class="browser-default" aria-label="Last name">
    <mat-error>
      {{ getErrorMessage() }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput class="browser-default" aria-label="Email">
    <mat-error>
      {{ getErrorMessage() }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput class="browser-default" aria-label="Phone number">
    <mat-error>
      {{ getErrorMessage() }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput class="browser-default" aria-label="Country">
    <mat-error>
      {{ getErrorMessage() }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput class="browser-default" aria-label="Password" type="password">
    <mat-error>
      {{ getErrorMessage() }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput class="browser-default" aria-label="Confirmation password" type="password">
    <mat-error>
      {{ getErrorMessage() }}
    </mat-error>
  </mat-form-field>
  <button type="submit" mat-raised-button [disabled]='!register.valid'>
    Register
  </button>
</form> -->
