<h3 mat-dialog-title>Register</h3>
<mat-dialog-content>
  <form [formGroup]="register" (ngSubmit)="onSubmit()">
    <mat-form-field>

    </mat-form-field>
    <mat-form-field>

    </mat-form-field>
    <mat-form-field>

    </mat-form-field>
    <mat-form-field>

    </mat-form-field>
    <mat-form-field>

    </mat-form-field>
    <mat-form-field>

    </mat-form-field>
    <mat-form-field>

    </mat-form-field>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button type="submit" [disabled]="!register.valid" cdkFocusInitial>Register</button>
  </form>
</mat-dialog-content>
