@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Sanchez');

@font-face {
  font-family: DoctorGlitch;
  src: url(/src/assets/fonts/Doctor\Glitch.otf) format('otf');
}

:root {
  /*Color Palette*/
  --darkTheme1: #14272f;
  --darkTheme2: #0c2129;
  --ligthTheme: #f5f6f6;
  --lightPurple: #c92c9b;
  --darkPurple: #7207ef;
  --neonPink: #ce2e96;
  --darkPink: #ed2e7a;
  --green: #00ca69;
  --neonGreen: #04e276;
  --darkGreen: #00a65d;
  --swampGreen: #a4c039;
  --lightBlue: #08adb2;
  --blue: #425bdc;
  --filfthyOrange: #ff4825;
  --filfthyYellow: #e7bc34;

  /*Fonts*/
  --digitizedFont: DoctorGlitch, sans-serif;
  --bodyFont: 'Sanchez', serif;
  --headerFont: 'Montserrat', sans-serif;
}

.spinner {
  margin: 5% auto;
}

mat-sidenav-content,
.mat-drawer-transition,
.mat-drawer-content,
.mat-drawer-container {
  background-color: var(--darkTheme2) !important;
}
.brand-logo {
  z-index: 1 !important;
}

/* .mat-dialog-container {
  background-color: var(--darkTheme2);
}

.mat-form-field-underline,
.mat-form-field-underline:active,
.mat-form-field-underline:focus {
  background-color: var(--ligthTheme) !important;
} */
