@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Sanchez');

@font-face {
  font-family: DoctorGlitch;
  src: url(/src/assets/fonts/Doctor\Glitch.otf) format('otf');
}

:root {
  /*Color Palette*/
  --darkTheme1: #14272f;
  --darkTheme2: #0c2129;
  --ligthTheme: #f5f6f6;
  --lightPurple: #c92c9b;
  --darkPurple: #7207ef;
  --neonPink: #ce2e96;
  --darkPink: #ed2e7a;
  --green: #00ca69;
  --neonGreen: #04e276;
  --darkGreen: #00a65d;
  --swampGreen: #a4c039;
  --lightBlue: #08adb2;
  --blue: #425bdc;
  --filfthyOrange: #ff4825;
  --filfthyYellow: #e7bc34;

  /*Fonts*/
  --digitizedFont: DoctorGlitch, sans-serif;
  --bodyFont: 'Sanchez', serif;
  --headerFont: 'Montserrat', sans-serif;
  ;
}

.body {
  margin-top: 5%;
  margin-bottom: 5%;
}
